@media screen and (max-width:1200px) {
	header {
		width: 100%;
		margin: 0 auto;
	}
}

/* Responsive nav kicks in */
	@media screen and (min-width:390px) {
		.dark #search input[type="text"]{width:60%;}
		.share-dark{padding-top:20px;}
		.share-dark a {font-size: 3em;}

	}
	@media screen and (max-width:991px) {
		#category-news > ul li {position:relative; margin:5px;border-bottom:1px solid #e60000;min-height: 45px;}
		#hp-rank .rank-article {position: absolute;left: 10%;bottom: 2.500em;}
		#hp-rank .rank-article > h3 {font-size: 2.500em;color: #FFFFFF;line-height:1em !important;margin:10px 0px;}
		#hp-rank .article-category{background: #ffff00;font-size: 1.100em;text-transform: uppercase;color: #000000;	padding: 6px;font-family: 'Roboto', sans-serif;}
		article > header > h1 {font-size:35px;line-height:38px;color:#000000;}
	}
	@media screen and (max-width:780px) {
		#news-section{margin:10px 0 20px;}
		#search-section{padding:20px;}
		article > header > h1 {font-size:25px;line-height:28px;color:#000000;}
	}

	@media screen and (max-width:640px) {
		.article-content{font: 18px/28px "Roboto Slab",serif;}
		#hp-rank .rank-article {position: absolute;left: 10%;bottom: 2.000em;}
		#hp-rank .rank-article > h3 {font-size: 2.000em;color: #FFFFFF;line-height:1em !important;margin:10px 0px;}
		#hp-rank .article-category{background: #ffff00;font-size: 1.000em;text-transform: uppercase;color: #000000;	padding: 6px;font-family: 'Roboto', sans-serif;}
	}

	@media screen and (max-width:480px) {
		.article-content{font: 16px/26px "Roboto Slab",serif;}
		#hp-rank .rank-article {position: absolute;left: 10%;bottom: 1.000em;}
		#hp-rank .rank-article > h3 {font-size: 1.000em;color: #FFFFFF;line-height:1em !important;margin:10px 0px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.800em;text-transform: uppercase;color: #000000;	padding: 6px;font-family: 'Roboto', sans-serif;}
		article > header > h1 {font-size:20px;line-height:23px;color:#000000;}
		article > header > .byline {font-size: 12px;line-height: 15px;}
		.article-image-slug{font-size: 12px;line-height: 15px;}
	}
	@media screen and (max-device-width: 1024px) {
		.carousel-control{width:4% !important}

	}
	/* #### Mobile Phones Portrait #### */
	@media screen and (max-device-width: 480px) and (orientation: portrait){
		/* some CSS here */
		*{padding: 0;margin: 0;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}

	/* #### Mobile Phones Landscape #### */
	@media screen and (max-device-width: 640px) and (orientation: landscape){
		/* some CSS here */
		*{padding: 0;margin: 0;}
		.seperator{display:none;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;	padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}
	/* #### Mobile Phones Portrait or Landscape #### */
	@media screen and (max-device-width: 640px){
	  /* some CSS here */
		/* some CSS here */
		*{padding: 0;margin: 0;}
		.seperator{display:none;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;	padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}

	/* #### iPhone 4+ Portrait or Landscape #### */
	@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
		/* some CSS here */
		*{padding: 0;margin: 0;}
		.seperator{display:none;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;	padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}

	@media only screen and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
		*{padding: 0;margin: 0;}
		.seperator{display:none;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;	padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}

	@media screen and (min-device-width : 414px) and (-webkit-device-pixel-ratio: 3){
		*{padding: 0;margin: 0;}
		.seperator{display:none;}
		#hp-rank .rank-article {bottom: 0.667em;}
		.carousel-control{width:4% !important}
		#hp-rank .rank-article > h3 {font-size: 1.000em;line-height:15px !important; margin:10px;}
		#hp-rank .article-category{background: #ffff00;font-size: 0.667em;text-transform: uppercase;	padding: 6px;}
		.MA16{margin:16px;}
		.PT16{padding-top:16px;}
		.PTB16{padding:16px 0px;}
		.PL16{padding-left:0px;}
		.PR8{padding-right:0px;}
		.PR16{padding-right:0px;}
		.PL8{padding-left:0px;}
	}


